.playingTrack {
	background-color: #636f8d;
}

.backgroundColor {
	background-color: #464e64;
}

.selectionColor {
	background-color: rgba(255, 255, 255, 0.1);
}

.highlightColor {
	background-color: #636f8d;
}

.track {
	cursor: pointer;
}

.track:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.playlistBackground {
	background-color: #464e64;
	width: 100%;
	height: 100%;
}