.sendButton {
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 40px;
	margin: 7px 7px;
	padding: 0 5px;
	background-color: #F5F5F5;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	color: #666666;
	cursor: pointer;
	min-width: 48px;
	text-align: center;
	border: 1px solid #2e1e11;
}

.sendButton:hover {
	font-family: arial, sans-serif;
	background-color: #F8F8F8;
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #333333;
}

.sendButtonWithText:hover {
	margin-right: 9px;
}

.sendButton:focus {
	border: 1px solid #4D90FE;
	outline: medium none;
}

.smallButton {
	height: 20px;
	width: 20px;
	min-width: 20px;
	padding: 0px;
}

.playingTrack {
	background-color: #636f8d;
}

.backgroundColor {
	background-color: #464e64;
	color: #c2c8d6;
}

.selectionColor {
	background-color: rgba(255, 255, 255, 0.1);
}

.highlightColor {
	background-color: #636f8d;
}

.secondColor {
	background: #d38850;
	color: #c2c8d6;
}

.secondColor:hover {
	background-color: #ef914b;
	border: none;
}

.secondColor:active {
	background-color: #f1a369;
}

.secondColorInverted {
	background: #c2c8d6;
	color: #464e64;
}

.secondColorInverted:hover {
	background-color: #cfd3de;
	border: none;
}

.secondColorInverted:active {
	background-color: #e2e4eb;
}

.thirdColor {
	background-color: #644b46;
}

.track {
	cursor: pointer;
	margin-left: 5px;
}

.track:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.playlistBackground {
	height: 100%;
	font-size: 1.3em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.controlFirstCol {
	width: 75px;
}

.controlSecondCol {
	width: 75px;
}

.controlPanel {
	margin: 20px;
	border-radius: 10px;
	margin-left: auto;
	padding: 20px;
	margin-right: auto;
	width: 50%;
}

.trackTitleTextBox, .trackTitleTextBox:hover, .trackTitleTextBox:active
	{
	border: 2px inset #636f8d;
	color: #464e64;
	font-size: 1.5em;
	width: 20em;
	height: 35px;
	vertical-align: middle;
	padding-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
}

.fileBrowserItemNonClickable {
	text-align: left;
	background: #c2c8d6;
	color: #464e64;
}

.fileBrowserItem {
	cursor: pointer;
	text-align: left;
	background: #c2c8d6;
	color: #464e64;
}

.fileBrowserItem:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.fileBrowserItem:active {
	background-color: rgba(255, 255, 255, 0.2);
}

.dialogBox {
	background-color: #464e64;
	border-radius: 0.5em;
	border: 0.5em solid #313746;
}

.dialogPanel {
	border: 2px inset #636f8d;
}

.contentPanel {
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	height: 100%;
	box-shadow: 1px 1px 6px #000;
}

.contextMenuButton {
	cursor: pointer;
}

.contextMenuButton:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
}

.contextMenuButton:active {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}

.fullsizeAbsolute {
	position: absolute !important;
	top: 0px;
	left: 0px;
	bottom: 50px;
	right: 0px;
}

.fullsize {
	width: 100%;
	height: 100%;
}

.columnWithRightBorder {
	border-right: 1px solid #c2c8d6 !important;
}

.marginBottom20 {
	margin-bottom: 20px;
}

.fontSize17 {
	font-size: 17px;
}

.spacerLine {
	border-bottom: 2px solid #c2c8d6;
	margin-bottom: 5px;
	padding-bottom: 5px;
	margin-left: -10px;
	margin-right: -10px;
}

.infoPopup {
	line-height: 20px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	border: 5px solid white;
	border-radius: 8px;
	box-shadow: 1px 1px 20px #3e3e3e;
	color: #464e64;
	-webkit-transition: opacity 4s ease-in-out;
	-moz-transition: opacity 4s ease-in-out;
	-ms-transition: opacity 4s ease-in-out;
	-o-transition: opacity 4s ease-in-out;
	transition: opacity 4s ease-in-out;
}

.margin6pxBottomHover:hover {
	margin-bottom: 6px;
}