.simpleText {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
	padding: 2px;
}

.todoblock {
	position: relative;
	float: center;
	margin: 20px;
	border-radius: 10px;
	background: none repeat scroll 0 0 #FAF9F5;
	margin-left: auto;
	padding: 20px;
	margin-right: auto;
	width: 50%;
}

.todoPanel {
	position: relative;
	float: center;
	margin: 20px;
	border-radius: 10px;
	background: none repeat scroll 0 0 #E5ECF9;
	margin-left: auto;
	padding: 20px;
	margin-right: auto;
	width: 50%;
}

.todoText {
	font-family: arial, sans-serif;
	font-size: 15px;
	height: 40px;
	margin: 7px 7px;
	padding: 0 5px;
	color: #666666;
	min-width: 48px;
	text-align: center;
}